@charset "utf-8";

/* Reset style */
* {word-break: keep-all; word-wrap: break-word; box-sizing: border-box; -webkit-box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, font, img, ins, q, s, small, strike, strong, sub, sup,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, thead, tbody, tfoot, tr, th, td {margin: 0; padding: 0;}

html, body, .wrap, .container, .contents_wrap {height: 100%;}

body, button, input, select, textarea {font-family: 'Apple SD Gothic Neo', 'Tahoma', Dotum, sans-serif;} 

blockquote, button, fieldset, iframe {border: 0;}
cite, em, u, address, i {font-style: normal;}
img {border: 0; vertical-align: top;}
caption, hr, legend {position: absolute; left: -9999px; top: -9999px;}
li {list-style: none;}
table {width: 100%; table-layout: fixed; border-collapse: collapse;}
a:link, a:visited, a:hover, a:active {text-decoration: none;}

/* Blind 숨김처리 */
.blind {position: absolute; left: -9999px; top: -9999px;}


/* Layout */
.contents_wrap {background: #fff;}
.contents {padding: 40px 16px 30px 16px;}

    /* Popup */
    .l_dim {display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: .4; z-index: 10;}

    .l_pop {display: none; position: absolute; left: 0; top: 50%; width: 100%; transform: translateY(-50%); padding: 0 16px; z-index: 10;}
    .l_pop .pop_wrap {border-radius: 16px; background: #fff;}
    .l_pop .l_container {padding: 32px 16px;}
    .l_pop .pop_wrap .txt {color: #666; font-size: 16px; line-height:24px; letter-spacing: -0.4; text-align: center;}
    .l_footer {padding: 0 16px 16px 16px;}
    .l_footer button {display: block; width: 100%; height: 48px; border-radius: 8px; color: #222; font-size: 16px; background: #ffcc00;}


/* Component */
    /* Button group */
    .btn_group {display: flex; width: 100%; padding: 40px 0;}
    .btn_group > button {flex-grow: 1; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: calc(50% - 4.5px); height: 56px; border-radius: 8px; color: #222; font-size: 16px; font-weight: 500; letter-spacing: -0.4px;}
    .btn_group > button.gray {background: #eee;}
    .btn_group > button.yellow {background: #ffcc00;}
    .btn_group > button.mr {margin-right: 9px;}


    /* Icon */
    .ico_notebook {display: block; width: 80px; height: 80px; background: url(./images/ico_notebook.png) no-repeat; background-size: contain;}


    /* Text */
    .txt01 {color: #222; font-size: 20px; font-weight: 700; line-height: 30px; letter-spacing: -0.4px;}
    .txt02 {color: #666; font-size: 16px; font-weight: 400; line-height: 24px; letter-spacing: -0.4px;}
    .txt03 {color: #222; font-size: 16px; font-weight: 700; line-height: 24px; letter-spacing: -0.4px;}
    .txt04 {color: #888; font-size: 14px; font-weight: 400; line-height: 16px; letter-spacing: -0.2px;}


    /* Form elements */
    .write_form > ul > li {margin-top: 32px; border-bottom: 1px solid #ddd;}
    .write_form > ul > li:first-child {margin-top: 0;}

    input[type="number"] {appearance: none; -webkit-appearance: none; -moz-appearance: none;}
    input[type="number"]::-webkit-inner-spin-button, 
    input[type="number"]::-webkit-outer-spin-button {margin: 0; -webkit-appearance: none;}
    input[type="number"]::-ms-clear {display: none;}
    input[type="text"]::-ms-clear {display: none;}

    select {-webkit-appearance: none; -moz-appearance: none; appearance: none;}
    select::-ms-expand {display: none;}

    input, select {outline: none;}

    .f_select {display: block; position: relative; padding: 20px 0; background: #fff;}
    .f_select::before {content: ""; display: block; position: absolute; right: 0; top: 0; width: 48px; height: 64px; background: url(./images/ico_combo.png) no-repeat center; background-size: 16px;}
    .f_select select {position: relative; width: 100%; height: 24px; border: 0; color: #222; font-size: 16px; line-height: 24px; letter-spacing: -0.4px; background: transparent;}

    .f_ipt input[type=text],
    .f_ipt input[type=number] {width: 100%; height: 64px; border: 0; color: #222; font-size: 16px;}


    /* List type */
    .list_type {padding-bottom: 24px; border-bottom: 1px solid #ddd;}
    .list_type li {position: relative; margin-top: 16px; padding-left: 12px; color: #666; font-size: 16px; line-height: 24px; letter-spacing: -0.4px;}
    .list_type li:first-child {margin-top: 0;}
    .list_type li::before {content: ""; display: block; position: absolute; left: 0; top: 9px; width: 4px; height: 4px; border-radius: 50%; background: #999;}

    .list_type02 {border-top: 1px solid #ddd;}
    .list_type02 dl {display: table; width: 100%; margin-top: 16px;}
    .list_type02 dl > * {display: table-cell; width: 50%; font-size: 16px; line-height: 24px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
    .list_type02 dl dt {color: #666;}
    .list_type02 dl dd {color: #222; font-weight: 500; text-align: right;}



/* Private */
.kbp_send_030 .txt2 {margin-top: 8px;}
.kbp_send_030 .write_form {margin-top: 32px;}

.kbp_send_031 .txt1 {margin-top: 32px;}
.kbp_send_031 .txt2 {margin-top: 64px;}
.kbp_send_031 .list_type {margin-top: 16px;}
.kbp_send_031 .txt3 {margin-top: 24px;}

.kbp_send_032 .txt1 {margin-top: 32px;}
.kbp_send_032 .txt2 {margin-top: 8px;}

.kbp_send_033 .txt1 {margin-top: 32px;}
.kbp_send_033 .txt2 {margin-top: 8px;}

.kbp_send_034 .txt1 {margin-top: 32px;}
.kbp_send_034 .txt2 {margin-top: 8px;}
.kbp_send_034 .list_type02 {margin-top: 64px;}