@charset "utf-8";

/* Reset style */
* {word-break: keep-all; word-wrap: break-word; box-sizing: border-box; -webkit-box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, font, img, ins, q, s, small, strike, strong, sub, sup,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, thead, tbody, tfoot, tr, th, td, input, select, textarea, button {
    margin: 0; padding: 0;
}
input:focus, select:focus, select:active, textarea:focus {outline: none;}
body, button, input, select, textarea {font-family: '나눔고딕', Dotum, AppleGothic, sans-serif;}
button {cursor: pointer;}

a:focus,
button:focus {outline: 1px dotted #999;}

blockquote, button, fieldset, iframe {border: 0;}
cite, em, u, address, i {font-style: normal;}
img {border: 0; vertical-align: top;}
caption, hr, legend {position: absolute; left: -9999px; top: -9999px;}
li {list-style: none;}
table {width: 100%; table-layout: fixed; border-collapse: collapse;}
a:link, a:visited, a:hover, a:active {text-decoration: none;}

/* Blind 숨김처리 */
.blind {position: absolute; left: -9999px; top: -9999px;}

/* From */
input[type="number"] {appearance: none; -webkit-appearance: none; -moz-appearance: none;}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {margin: 0; -webkit-appearance: none;}
input[type="number"]::-ms-clear {display: none;}
input[type="text"]::-ms-clear {display: none;}

select {-webkit-appearance: none; -moz-appearance: none; appearance: none;}
select::-ms-expand {display: none;}
select:-ms-expand {display: none;}

/* Align 정렬 */
.align-l {text-align: left !important;}
.align-c {text-align: center !important;}
.align-r {text-align: right !important;}
.v-align-t {vertical-align: top;}
.v-align-m {vertical-align: middle;}
.v-align-b {vertical-align: bottom;}

/* Length 길이 */
.w-full {width: 100%;}
.w-half {width: 50%;}
.w-quarter {width: 25%;}

/* Float */
.fl {float: left;}
.fr {float: right;}
.cf {content: ""; display: block; clear: both;}

/* Position */
.disp-b {display: block;}
.disp-i {display: inline-block;}
.disp-ib {display: inline-block;}

/* Ellipsis */
.ellipsis {overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}

/* margin, padding 여백 */
.mt0 {margin-top: 0px !important;}
.mt4 {margin-top: 4px !important;}
.mt5 {margin-top: 5px !important;}
.mt8 {margin-top: 8px !important;}
.mt10 {margin-top: 10px !important;}
.mt15 {margin-top: 15px !important;}
.mt24 {margin-top: 24px !important;}
.mt28 {margin-top: 28px !important;}
.mr10 {margin-right: 10px !important;}
.mb8 {margin-bottom: 8px !important;}
.mb10 {margin-bottom: 10px !important;}
.ml10 {margin-left: 10px !important;}

.pt0 {padding-top: 0 !important;}
.pt13 {padding-top: 13px !important;}
.pt16 {padding-top: 16px !important;}
.pb0 {padding-bottom: 0 !important;}