@charset "utf-8";

/* Index */
.index {height: 456px; overflow: hidden;}
.index .contents-wrap {height: 100%;}
.index .index-header {padding: 11px 16px; height: 40px; background: #f8f8f8;}
.index .index-header .logo {display: inline-block; width: 100px; height: 18px;}
.index .index-header .logo img {display: block; width: 100%; height: 100%;}
.index .contents {position: relative; padding: 0 16px; height: 416px;}
.index .contents .tab-ui .tab-list.type01 {padding-top: 0;}

.app-pay-box {padding-bottom: 8px;}
.app-pay-box .tit-area {padding: 8px 0; text-align: center;}
.app-pay-box .tit-area .logo {position: relative; display: inline-block; padding: 30px 88px 28px 0;}
.app-pay-box .tit-area .logo:after {position: absolute; top: 0; right: 0; content: ""; display: inline-block; width: 88px; height: 88px; background: url(../images/icon/ico_kbpay_02.png) no-repeat; background-size: 100%;}
.app-pay-box .tit-area .logo img {display: inline-block; width: 181px; height: 32px;}
.app-pay-box .btn-list {font-size: 0;}
.app-pay-box .btn-list button {display: inline-block; width: calc(50% - 4px); height: 48px; background: none;  border-radius: 8px;}
.app-pay-box .btn-list .gray {width: calc(45% - 4px); background: #eee;}
.app-pay-box .btn-list .yellow {width: calc(55% - 4px); background: #ffcc00;}
.app-pay-box .btn-list button span {font-size: 16px; color: #222; font-weight: 500; line-height: 24px; letter-spacing: -0.4px;}
.app-pay-box .btn-list button + button {margin-left: 8px;}

.payment-box li {border-bottom: 1px solid #ddd;}
.payment-box li:last-child {border-bottom: none;}
/* .payment-box li + li {margin-top: 8px;} */
.payment-box a {position: relative; display: table; padding: 16px 32px 16px 0; width: 100%;}
.payment-box a:after {position: absolute; top: calc(50% - 12px); right: 0; content: ""; width: 24px; height: 24px; background: url(../images/icon/ico_arrow_lightgray.png) no-repeat; background-size: 100%;}
.payment-box a .tit-area {display: table-cell; vertical-align: middle;}
.payment-box a .tit-area .p-tit {display: block; font-size: 18px; color: #222; font-weight: 500; line-height: 26px; letter-spacing: -0.4px;}
.payment-box a .tit-area .p-txt {display: block; font-size: 12px; color: #666; line-height: 16px; letter-spacing: -0.2px;}
.payment-box a .tit-area .p-txt + .p-tit {margin-top: 4px;}

.partner-payment li:last-child a {border-bottom: none;}
.partner-payment a {position: relative; display: block; padding: 12px 32px 14px 0; height: 64px; border-bottom: 1px solid #ddd;}
.partner-payment a:after {position: absolute; top: calc(50% - 12px); right: 0; content: ""; width: 24px; height: 24px; background: url(../images/icon/ico_arrow_lightgray.png) no-repeat; background-size: 100% 100%;}
.partner-payment a .txt-area {font-size: 16px; color: #666; line-height: 24px; letter-spacing: -0.4px;}
.partner-payment a .logo {margin-top: 4px; height: 22px;}
.partner-payment .samsungpay .logo {width: 138px;}
.partner-payment .lgpay .logo {width: 66px;}
.partner-payment .payco .logo {width: 76px;}
.partner-payment a .logo img {display: block; width: 100%; height: 100%;}
.partner-payment a .tit-area {font-size: 18px; color: #222; font-weight: 700; line-height: 26px; letter-spacing: -0.4px;}
.partner-payment a .p-txt {display: block; font-size: 12px; color: #666; line-height: 16px; letter-spacing: -0.2px;}

.banner-slide {position: relative; margin-left: -16px; width: calc(100% + 32px); height: 64px; overflow: hidden;}
.banner-slide .slide-area {height: 100%;}
.banner-slide .slide-area .slick-list {height: 100%;}
.banner-slide .slide-area .slick-list .slick-track {height: 100%;}
.banner-slide .slide-area .slide{display: block; width: 100%; height: 100%;}
.banner-slide .slide-area .slide > img {display: block; width: 100%; height: 100%;}
.banner-slide .slide-area .slide > div {display: block; width: 100%; height: 100%;}
.banner-slide .slide-nav {position: absolute; top: 50%; right: 40px; font-size: 0; z-index: 10; overflow: hidden; transform: translateY(-50%);}
.banner-slide .slide-nav > span {display: inline-block; height: 12px; font-size: 12px; color: #222; font-weight: 500; line-height: 12px; letter-spacing: -0.2px; vertical-align: top;} 
.banner-slide .slide-nav .totalIndex:before {content: "/"; display: inline-block; height: 12px; margin-left: 4px; margin-right: 4px; font-size: 12px; line-height: 12px;}
.banner-slide .btn-active {position: absolute; top: calc(50% - 10px); right: 16px; margin-left: 4px; width:20px; height: 20px; text-indent: -9999px; background: url(../images/icon/ico_btn_pause.png) no-repeat; background-size: 100%; z-index: 10;}
.banner-slide .btn-active.play {background: url(../images/icon/ico_btn_play.png) no-repeat; background-size: 100%;}


/* 주소검색 */
.addr-list {padding-top: 30px;}
.addr-list ul li {padding: 16px 0; border-bottom: 1px solid #eee;}
.addr-list ul li a {display: block;}
.addr-list ul li a span {display: block;}
.addr-list .post-num {color: #888; font-size: 14px; font-weight: 400; letter-spacing: -0.2px;}
.addr-list .addr-new {margin-top: 8px; color: #222; font-size: 16px; font-weight: 500; letter-spacing: -0.4px; text-decoration: underline;}
.addr-list .addr-old {margin-top: 4px; color: #666; font-size: 14px; font-weight: 500; letter-spacing: -0.4px; line-height: 20px;}
.addr-list .no-data {padding: 46px 0 50px 0; color: #888; font-size: 14px; font-weight: 400; letter-spacing: -0.2px; line-height: 20px; text-align: center;}
.addr-list .no-data::before {content: ""; display: block; width: 48px; height: 48px; margin: 0 auto; padding-bottom: 8px; background: url(../images/icon/ico_nodata.png) no-repeat; background-size: contain;}
@media only screen and (max-width: 320px) {
    .addr-list .no-data {padding: 15px 0;}
}

.addr-top {padding: 16px 0; border-bottom: 1px solid #ddd;}
.addr-top span {display: block;}
.addr-top .post-num {color: #888; font-size: 14px; font-weight: 400; letter-spacing: -0.2px;}
.addr-top .addr-new {margin-top: 8px; color: #222; font-size: 16px; font-weight: 500; letter-spacing: -0.4px; line-height: 24px;}
.addr-top .addr-old {margin-top: 4px; color: #666; font-size: 14px; font-weight: 500; letter-spacing: -0.4px; line-height: 20px;}

.addr-list-detail dl {display: table; width: 100%;}
.addr-list-detail dl > * {display: table-cell; vertical-align: middle;}
.addr-list-detail dl dt {width: 40px;}
.addr-list-detail dl dt span {display: block;}
.addr-list-detail dl dd {padding: 16px 0;}
.addr-list-detail .addr-new {color: #888; font-size: 14px; line-height: 20px; letter-spacing: -0.2px;}
.addr-list-detail .addr-old {color: #666; font-size: 16px; line-height: 24px; letter-spacing: -0.4px;}

.addr-example {margin-top: 24px;}
.addr-example span {display: block; margin-top: 8px; color: #888; font-size: 14px; line-height: 20px; letter-spacing: -0.2px;}


/* ARS인증 */
.ars-cert {position: relative; margin-top: 56px; padding-top: 64px; text-align: center;}
.ars-cert:before {position: absolute; top: 0; left: calc(50% - 24px); content: ""; width: 48px; height: 48px; background: url(../images/icon/ico_ars.png) no-repeat; background-size: 100% 100%;}
.ars-cert .msg {font-size: 14px; color: #888; line-height: 20px; letter-spacing: -0.2px;}
.ars-cert .submit {display: inline-block; margin-top: 16px; padding: 0 0 1px 0; font-size: 16px; color: #666; line-height: 24px; letter-spacing: -0.4px; background: none; border-bottom: 1px solid #aaa;}
.ars-cert .code {display: none; margin: 45px auto 0 auto; padding: 20px 0; width: 125px; height: 72px; font-size: 28px; color: #222; font-weight: 700; line-height: 28px; text-align: center; background: #f8f8f8; border-radius: 39px;}


/* KB Pay 결제 */
.cd-change .cd-name {margin-top: 36px;}
.cd-change .cd-num {margin-top: 6px;}
.cd-name .card-icon {display: inline-block; width: 32px; height: 24px;}
.cd-change .card-list {position: relative; height: 128px; margin: 20px -16px 0;}
.cd-change .card-list img {display: inline-block; margin-top: 11px; width: 151px; height: 95px;}
.cd-change .card-list .slick-list {overflow: visible;}
.cd-change .card-list .slick-slide {position: relative; height: 128px; text-align: center; transition: all ease-in-out .3s; opacity: 0.5;}
/* .cd-change .card-list .slick-slide.current::after {content: ""; display: block; position: absolute; right: 12px; top: -10px; width: 30px; height: 30px; background: url(../images/icon/ico_current_card_mark.png) no-repeat; background-size: contain;} */
.cd-change .card-list .slick-active {opacity: .5;}
.cd-change .card-list .slick-current {opacity: 1; background: url(../images/etc/bg_card_shadow.png) no-repeat center 22px; background-size: 168px auto;}
.cd-change .card-list .slick-current img {margin-top: 0; width: 168px; height: 106px;}
.cd-change .card-list .add-card {display: inline-block; width: 168px; height: 104px; border-radius: 8px; font-size: 0; text-indent: -9999px; background: #ddd url(../images/icon/ico_plus_white.png) no-repeat center; background-size: 32px;}
.cd-change .msg-box {margin-top: 24px;}
.cd-change .msg-box span + span {font-weight: 700;}
.cd-change .link01 {padding-top: 7px; text-align:center;}
.cd-change .card-list .slick-prev {z-index: 1; display: block; position: absolute; left: 24px; top: 35px; width: 32px; height: 32px; border-radius: 50%; font-size: 0; background: #5e5e5e url(../images/icon/ico_arrow_left_white24x24.png) no-repeat center;}
.cd-change .card-list .slick-next {display: block; position: absolute; right: 24px; top: 35px; width: 32px; height: 32px; border-radius: 50%; font-size: 0; background: #5e5e5e url(../images/icon/ico_arrow_right_white24x24.png) no-repeat center;}

.cd-change .cd-name .c-nm {display: inline-block; max-width: 300px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; vertical-align: top;}
@media only screen and (max-width: 375px) {
    .cd-change .card-list .slick-prev {left: 12px;}
    .cd-change .card-list .slick-next {right: 12px;}
    .cd-change .cd-name .c-nm {max-width: 240px;}
}
@media only screen and (max-width: 320px) {
    .cd-change .card-list .slick-prev {left: 6px;}
    .cd-change .card-list .slick-next {right: 6px;}
    .cd-change .cd-name .c-nm {max-width: 190px;}
}

.cd-change .delete-card {display: none; position: absolute; left: 50%; top: 0; transform: translateX(-50%); width: 168px; height: 106px; border-radius: 4px; background: rgba(0, 0, 0, .5);}
.cd-change .delete-card span {display: block; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); height: 20px; padding: 0 8px; border: 1px solid #fff; border-radius: 10px; color: #fff; background: none;}
.cd-change .card-list .slick-current .delete-card {display: block;}

.market-list {padding: 24px 0; height: 195px; border-top: 1px solid #eee; overflow: hidden;}
.market-list li {position: relative; display: inline-block; width: 50%; height: 100%; float: left;}
.market-list li + li:before {position: absolute; top: 0; left: -0.5px; content: ""; width: 0; height: 100%; border-left: 1px dashed #eee;}
.market-list li .qr {margin: 0 auto; width: 80px; height: 80px; border: 1px solid #eee;}
.market-list li .qr img{display: block; width: 100%; height: 100%;}
.market-list li .tb-logo {display: table; margin: 0 auto; padding-top: 16px;}
.market-list li .tb-logo .logo {display: table-cell; vertical-align: bottom;}
.market-list li .tb-logo .logo img {display: block; width: 100%; height: 100%;}
.market-list .aos .tb-logo .logo {width: 26px; height: 30px;}
.market-list .ios .tb-logo .logo {width: 32px; height: 32px;}
.market-list li .tb-logo .txt-area {display: table-cell; padding-left: 8px; vertical-align: middle;}
.market-list li .tb-logo .txt-area .os {display: block; font-size: 14px; color: #222; font-weight: 700; line-height: 20px; letter-spacing: -0.2px;}
.market-list li .tb-logo .txt-area .market {display: block; font-size: 12px; color: #666; line-height: 16px; letter-spacing: -0.2px;}


/* 결제수단/기기관리 */
.list-card-btn {margin: 32px 0 24px 0;}
.list-card-btn li + li {margin-top: 16px;}
.list-card-btn li > * {display: table; padding: 12px 16px 15px 16px; width: 100%; border: 1px solid #ddd; border-radius: 8px;}
.list-card-btn li > * > span {display: table-cell; font-size: 16px; line-height: 24px; letter-spacing: -0.4px;}
.list-card-btn li > * .type {color: #222;}
.list-card-btn li > * .num {font-size: 18px; color: #6d5cda; font-weight: 700; line-height: 26px; letter-spacing: -0.4px; text-align: right;}

.list-card-btn li .gift-box dl {display: table; width: 100%;}
.list-card-btn li .gift-box dl dt {display: table-cell; font-size: 16px; color: #222; line-height: 24px; letter-spacing: -0.4px;}
.list-card-btn li .gift-box dl dd {display: table-cell; font-size: 18px; color: #6d5cda; font-weight: 700; line-height: 26px; letter-spacing: -0.4px; text-align: right;}
.list-card-btn li .gift-box dl dd span{display: inline-block;}
.list-card-btn li .gift-box .btn-list {margin-top: 16px; font-size: 0; text-align: right;}
.list-card-btn li .gift-box .btn-list a {display: inline-block; padding-bottom: 1px; font-size: 16px; color: #666; line-height: 24px; letter-spacing: -0.4px; border-bottom: 1px solid #aaa;}
.list-card-btn li .gift-box .btn-list a + a {margin-left: 16px;}
@media screen and (max-width: 350px) {
    .list-card-btn li .gift-box .btn-list a {font-size: 14px; line-height: 20px;}
}

.list-card-btn li.disabled > * {background: #f8f8f8; border-color: #f8f8f8;}
.list-card-btn li.disabled > * .type,
.list-card-btn li.disabled > * .num,
.list-card-btn li.disabled .gift-box dt,
.list-card-btn li.disabled .gift-box dd {color: #888;}


/* 인증받은 기기, 접속이력 조회 */
.cert-device .list-none {position: relative; margin: 200px 0 150px; padding-top: 56px; font-size: 14px; color: #888; line-height: 20px; letter-spacing: -0.2px; text-align: center;}
.cert-device .list-none:before {position: absolute; top: 0; left: calc(50% - 24px); content: ""; width: 48px; height: 48px; background: url(../images/icon/ico_nodata.png) no-repeat; background-size: 100%;}
@media screen and (max-height: 600px) {
    .cert-device .list-none {margin: 150px 0 100px 0;}
}


.cert-device .list .tit-area {padding: 32px 0 24px 0; font-size: 18px; color: #222; line-height: 26px; letter-spacing: -0.2px;}
.cert-device .list .item {padding-bottom: 32px; border-bottom: 1px solid #eee;}
.cert-device .list .item + .item {margin-top: 32px;}
.cert-device .list .item .date {padding-bottom: 8px; font-size: 14px; color: #888; line-height: 20px; font-weight: 700; letter-spacing: -0.2px;}
.cert-device .list .item .name {font-size: 18px; color: #888; line-height: 26px; letter-spacing: -0.4px;}
.cert-device .list .item .name.active {color: #222; font-weight: 700;}
.cert-device .list .item dl {display: table; padding-top: 16px; width: 100%;}
.cert-device .list .item dl dt {display: table-cell; font-size: 16px; color: #666; line-height: 24px; letter-spacing: -0.4px;}
.cert-device .list .item dl dd {display: table-cell; font-size: 16px; color: #222; font-weight: 500; line-height: 24px; letter-spacing: -0.4px; text-align: right;}
.cert-device .list .item .btn-list {margin-top: 24px; font-size: 0; text-align: right;}
.cert-device .list .item .btn-list button {display: inline-block; padding: 0 0 1px 0; font-size: 16px; color: #666; line-height: 24px; letter-spacing: -0.4px; background: none; border-bottom: 1px solid #aaa;}
.cert-device .list .item .btn-list button + button {margin-left: 8px;}
.cert-device .list .info-txt {margin-top: 16px; font-size: 14px; color: #888; line-height: 20px; letter-spacing: -0.2px;}
.cert-device .list .btn-more {margin-bottom: 24px; width: 100%; height: 56px;  background: rgba(255, 255, 255, 0.8); border: 1px solid #eee; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14);}
.cert-device .list .btn-more span {position: relative; display: inline-block; padding-left: 20px; font-size: 14px; color: #222; font-weight: 500; line-height: 20px; letter-spacing: -0.2px;}
.cert-device .list .btn-more span:before {position: absolute; top: 2px; left: 0; content: ""; width: 16px; height: 16px; background: url(../images/icon/ico_plus.png) no-repeat; background-size: 100%;}

/* 이용안내 */
.list-info {padding: 40px 0;}
.list-info .tit-area {font-size: 0;}
.list-info .tit-area .list-tit {display: inline-block; font-size: 16px; color: #666; line-height: 24px; letter-spacing: -0.4px; vertical-align: middle;}
.list-info .tit-area .btn-toggle {display: inline-block; margin-left: 8px; width: 24px; height: 24px; font-size: 0; vertical-align: middle; background: url(../images/icon/ico_arrow_gray_up.png) no-repeat; background-size: 100%;  border: none; transform: rotate(180deg);}
.list-info .tit-area .btn-toggle.active {background: url(../images/icon/ico_arrow_gray_up.png) no-repeat; background-size: 100%; transform: rotate(0deg);}
.list-info .list {display: none; padding-top: 16px;}
.list-info .list li {position: relative; padding-left: 12px; font-size: 14px; color: #666; line-height: 20px; letter-spacing: -0.2px;}
.list-info .list li:before {position: absolute; top: 8px; left: 0; content: ""; width: 4px; height: 4px; background: #999; border-radius: 50%;}
.list-info .list li + li {margin-top: 16px;}


/* 14세미만 가입불가 */
.join-failed {position: relative; margin-top: 24px; padding-top: 104px;}
.join-failed:before {position: absolute; top: 0; left: 0; content: ""; width: 80px; height: 80px; background: url(../images/icon/ico_join_failed.png) no-repeat; background-size: 100% 100%;}
.join-failed .tit-area {font-size: 20px; color: #222; font-weight: 700; line-height: 30px; letter-spacing: -0.4px;}
.join-failed .txt-area {margin-top: 8px; font-size: 16px; color: #666; line-height: 24px; letter-spacing: -0.4px;}


/* 보안인증 */
.pc-cert li {position: relative; padding: 32px 0; text-align: center;}
.pc-cert li .img {margin: 0 auto; width: 64px; height: 64px;}
.pc-cert li .img img {display: block; width: 100%; height: 100%;}
.pc-cert li .tit-area {padding-top: 8px; font-size: 16px; color: #666; line-height: 24px; letter-spacing: -0.4px;}
.pc-cert li .tit-area strong {display: block; padding-top: 4px; font-size: 20px; color: #222; font-weight: 700; line-height: 30px; }
.pc-cert li .btn-line-group {padding-top: 16px; font-size: 0; text-align: center;}
.pc-cert li .btn-line-group button {display: inline-block; padding: 0 0 1px 0; font-size: 16px; color: #666; line-height: 24px; background: none; border-bottom: 1px solid #aaa;}
.pc-cert li .btn-line-group button + button {margin-left: 16px;}
.pc-cert li + li:before {position: absolute; top: -0.5px; left: 0; content: ""; width: 100%; height: 1px; border-top: 1px dashed #eee;}


/* QR(webp_049) */
.qr-area {margin-top: 56px;}
.qr-area .qr-img {margin: 0 auto; width: 160px; height: 160px; border: 1px solid #ffcc00;}
.qr-area .qr-img img {display: block; width: 100%; height: 100%;}
.qr-area .qr-num {margin-top: 80px; font-size: 0; text-align:center;}
.qr-area .qr-num span {display: inline-block; width: 24px; height: 24px; font-size: 24px; color: #222; font-weight: 500; line-height: 24px;}
.qr-area .qr-num span + span {margin-left: 4px;}
.qr-area .qr-num .bar {position: relative; vertical-align: top;}
.qr-area .qr-num .bar:before {position: absolute; top: calc(50% - 1px); left: calc(50% - 4px); content: ""; width: 8px; height: 2px; background: #222;}


/* 상품권포인트 충전 안내 팝업 */
.table-default table {text-align: center;}
.table-default table thead {background: #f8f8f8;}
.table-default table thead tr:last-child {border-bottom: none;}
.table-default table tr {border-bottom: 1px solid #eee;}
.table-default table th {padding: 8px 0; height: 40px; font-size: 16px; color: #666; font-weight: 400; line-height: 24px; letter-spacing: -0.4px;}
.table-default table td {padding: 8px 0; height: 40px; font-size: 16px; color: #222; line-height: 24px; letter-spacing: -0.4px;}
.table-default table th + th,
.table-default table th + td,
.table-default table td + td {border-left: 1px solid #eee;}
.table-default table .bb-none {border-bottom: 1px solid transparent;}

/* 결제비밀번호 오류 */
.pass-error {position: relative; margin-top: 144px; padding-top: 56px; font-size: 14px; color: #888; line-height: 20px; letter-spacing: -0.2px; text-align: center;}
.pass-error:before {position: absolute; top: 0; left: calc(50% - 24px); content: ""; width: 48px; height: 48px; background: url(../images/icon/ico_nodata.png) no-repeat; background-size: 100%;}
@media screen and (max-width: 350px) {
    .pass-error {margin-top: 94px;}
}

/* 카드 본인인증 */
.card-cert-logo {padding-bottom: 24px;}
.card-cert-logo img {display: block; margin: 0 auto; width: 168px; height: 40px;}
.card-cert-link li + li {border-top: 1px solid #ddd;}
.card-cert-link a {position: relative; display: table; width: 100%; min-height: 78px;}
.card-cert-link a:before {position: absolute; top: calc(50% - 12px); right: 0; content: ""; width: 24px; height: 24px; background: url(../images/icon/ico_arrow_lightgray.png) no-repeat; background-size: 100%;}
.card-cert-link a .icon {position: absolute; top: 50%; left: 0; width: 32px; height: auto; transform: translateY(-50%);}
.card-cert-link a .icon img {display: block; width: 100%; height: 100%;}
.card-cert-link a .txt-area {display: table-cell; padding: 16px 40px; vertical-align: middle;}
.card-cert-link a .txt-area p {font-size: 18px; color: #222; font-weight: 500; line-height: 26px; letter-spacing: -0.4px;}
.card-cert-link a .txt-area span {display: block; font-size: 12px; color: #666; line-height: 16px; letter-spacing: -0.2px;}
.card-cert-link a .txt-area p + span {margin-top: 4px;}

/* 앱카드 인증안내 */
.time-limit {margin-top: 24px; font-size: 14px; color: #222; font-weight: 700; line-height: 20px; letter-spacing: -0.2px; text-align: center;}

.appcard-cert {margin-top: 16px; padding-top: 24px; border-top: 1px solid #eee;}
.appcard-cert dl dt {font-size: 16px; color: #222; font-weight: 700; line-height: 24px; letter-spacing: -0.4px;}
.appcard-cert dl dd {margin-top: 16px;}
.appcard-cert .code {margin-top: 32px; font-size: 24px; color: #222; font-weight: 500; line-height: 24px; letter-spacing: 8px; text-align: center;}


.kbp_webp_002 > .txt {padding: 16px 0;}

.kbp_webp_003 .agree a {color: #666; font-size: 14px; line-height: 1.43; letter-spacing: -0.2px; text-decoration: underline; vertical-align: top;}
.kbp_webp_003 .f-chk {margin-right: 2px;}

.kbp_webp_004 .list-type02{padding-top: 8px;}
.kbp_webp_004 .tit02{padding: 56px 0 0 0;}
.kbp_webp_004 .list-type01{padding: 24px 0; border: none;}
.kbp_webp_004 .list-type01 dd span{white-space: nowrap;}

.kbp_webp_005 .tool-tip {padding:0 0 40px; margin-top: 40px;}
.kbp_webp_005 .list-type02 {padding:32px 0 24px 0;}
.kbp_webp_005 .list-type02 a {position:relative; border-color: #eee; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.09);}
.kbp_webp_005 .list-type02 a:after {content:"";display:block; position:absolute;top:0;right:0; width:56px; height:56px;background:url(../images/icon/ico_btn_card-box_link.png) center center no-repeat; background-size: 24px 24px;}
.kbp_webp_005 .list-type02 a span:before {content:"";display:inline-block; margin:0 8px 0 0;width:24px; height:24px; vertical-align: middle;}
.kbp_webp_005 .list-type02 .kakao span:before {background:url(../images/icon/ico_kakao.png) 0 0 no-repeat; background-size: 100%;}
.kbp_webp_005 .list-type02 .join span:before {background:url(../images/icon/ico_kbpay_24.png) 0 0 no-repeat; background-size: 100%;}
.kbp_webp_005 .btn-group {padding:32px 0 40px;}
.kbp_webp_005 .agree {padding-top: 24px;}
.kbp_webp_005 .agree .f-chk span {font-size:14px; color: #666; border-bottom:1px solid #666;}
.kbp_webp_005 .agree .f-chk::before {margin-right:4px;}

.kbp_webp_006 .tit02{padding: 56px 0 0 0;}
.kbp_webp_006 .list-type01{padding: 24px 0; border: none;}

.kbp_webp_007 .head .f-chk.checked:before {background: url(../images/icon/ico_chk_on.png) no-repeat; background-size: contain;}
.kbp_webp_007 .head.type02 + ul .head .f-chk.checked:before {background: url(../images/icon/ico_chk2_on.png) no-repeat; background-size: contain;}

/* .kbp_webp_008 .agree-slider {padding-top: 24px;} */
.kbp_webp_008 .agree-slider .slick-list {min-height: 408px;}
/* .kbp_webp_008 .agree-slider .terms-view {margin-top:16px;} */
.kbp_webp_008 .terms-view {margin-top: -16px;}

.kbp_webp_018 .point {padding-top:24px; text-align: center;}

.kbp_webp_018 .form-wrap,
.kbp_webp_019 .form-wrap {margin-top: 16px;}

.kbp_webp_022 .cd-name {margin-top: 18px;}
.kbp_webp_022 .card-img {position: relative; margin: 18px auto 0; height: 128px; text-align: center; background: url(../images/etc/bg_card_shadow.png) no-repeat center 22px / 168px auto;}
.kbp_webp_022 .card-img img {display: inline-block; width: 168px; height: 104px;}
.kbp_webp_022 .msg-box {margin-top: 8px;}
.kbp_webp_022 .list-type08 {margin-top: 52px;}

.kbp_webp_023 .cd-name {margin-top: 18px;}
.kbp_webp_023 .card-img {position: relative; margin: 18px auto 0; height: 128px; text-align: center; background: url(../images/etc/bg_card_shadow.png) no-repeat center 22px / 168px auto;}
.kbp_webp_023 .card-img img {display: inline-block; width: 168px; height: 104px;}
.kbp_webp_023 .guide-txt {margin-top: 8px}
.kbp_webp_023 .msg-box {margin-top: 8px;}

.kbp_webp_024 .card-img {width: 168px; height: 104px; margin: 0 auto;}
.kbp_webp_024 .card-img img {max-width: 100%;}

.kbp_webp_025 .card-img {width: 168px; height: 104px; margin: 0 auto;}
.kbp_webp_025 .card-img img {max-width: 100%;}
.kbp_webp_025 .msg-box {margin-top: 50%; padding-bottom: 8px;}


.kbp_webp_026 .list-dot {padding-bottom: 24px;}
.kbp_webp_026 .list-dot > li {padding-bottom: 0;}
.kbp_webp_026 .list-dot > li + li {margin-top: 8px;}

.kbp_webp_027 {position: relative; padding-bottom: 0;} 
.kbp_webp_027 .card-none {position: absolute; top: calc(50% - 38px); left: 0; padding: 0 16px; width: 100%;} 
.kbp_webp_027 .card-none > p {position: relative; padding-top: 56px; font-size: 14px; color: #888; line-height: 20px; letter-spacing: -0.2px; text-align: center;} 
.kbp_webp_027 .card-none > p:before {position: absolute; top: 0; left: calc(50% - 24px); content: ""; width: 48px; height: 48px; background: url(../images/icon/ico_notice.png) no-repeat; background-size: 100% 100%;}
.kbp_webp_027 .cd-nodata {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}

/* CVC/CVC2 란 ? */
.kbp_webp_030 p,
.kbp_webp_030_1 p {padding-bottom:24px;}

/* 기업공용카드등록*/
.kbp_webp_032 .btn-group {padding:24px 0 16px; }

.kbp_webp_037 .head .f-chk.checked:before {background: url(../images/icon/ico_chk_on.png) no-repeat; background-size: contain;}

.kbp_webp_042 {position: relative; padding-bottom: 0;}
.kbp_webp_042 .cd-nodata {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}

.kbp_webp_043 .head .f-chk.checked:before {background: url(../images/icon/ico_chk_on.png) no-repeat; background-size: contain;}

.kbp_webp_044 .form_text {margin-top: 24px; height: 72px; line-height: 72px;}
.kbp_webp_044 .form_text label {left: 0; font-size: 24px; letter-spacing: -0.4px;}
.kbp_webp_044 .form_text input {left: 0; padding-top: 4px; font-size: 30px; line-height: 40px;}
.kbp_webp_044 .form_text.on {border: none; border-bottom: 2px solid #ffcc00; border-radius: 0;}
.kbp_webp_044 .form_text.on label {top: 0; font-size: 14px; line-height: 20px; letter-spacing: -0.2px;}
.kbp_webp_044 .form_text.error {border: none; border-bottom: 2px solid #ff0000; border-radius: 0;}
.kbp_webp_044 .form_text.error label {font-size: 14px;}
.kbp_webp_044 .list-type07 {margin-top: 60px; padding-top: 0; border-top: none;}
.kbp_webp_044 .list-type07 .txt-info {margin-bottom: 16px; padding-bottom: 16px; font-size: 14px; color: #666; line-height: 20px; letter-spacing: -0.2px; border-bottom: 1px solid #ddd;}
.kbp_webp_044 .list-type07 .top-area {padding-bottom: 0; border-bottom: none;}
.kbp_webp_044 .list-type07 .top-area li + li {margin-top: 16px;}
.kbp_webp_044 .list-type07 .top-area dt {font-size: 16px; color: #666; line-height: 24px; letter-spacing: -0.4px;}
.kbp_webp_044 .list-type07 .top-area dd {font-size: 16px; color: #222; font-weight: 500; line-height: 24px; letter-spacing: -0.4px;}
.kbp_webp_044 .list-type07 .bottom-area dt {font-size: 18px; color: #666; font-weight: 500; line-height: 26px; letter-spacing: -0.4px;}
.kbp_webp_044 .list-type07 .bottom-area dd {font-size: 18px; color: #222; font-weight: 700; line-height: 26px; letter-spacing: -0.4px;}

.kbp_webp_046 .txt09 {margin-top: 12px;}

.kbp_webp_047 > .tit {font-weight: 700;}

.kbp_webp_048 > .tit {padding-bottom: 8px; font-weight: 700;}
.kbp_webp_048 .list-type06 {}
.kbp_webp_048 .txt-alert {padding-bottom: 16px; font-size: 14px; color: #ff0000; line-height: 20px; letter-spacing: -0.2px; border-bottom: 1px solid #ddd;}

.kbp_webp_050 {position: relative;}
.kbp_webp_050 > .txt {padding: 24px 0 16px 0; color: #ff0000;}
.kbp_webp_050 .bottom-fixed-contents {position: static; padding: 0;}

.kbp_webp_051 > .txt {padding: 24px 0 16px 0; color: #ff0000;}
.kbp_webp_051 .list-dot li {padding: 0 0 0 12px;}
.kbp_webp_051 .list-dot li + li {margin-top: 16px;}
.kbp_webp_051 .bottom-fixed-contents {position: static; padding: 0;}

/* 휴대폰 인증번호 문자 미수신 안내 팝업 */
.kbp_webp_052 .txt {padding-top:16px;}
.kbp_webp_052 .list-ico {margin-top:16px; border-top:1px solid #ddd;}
.kbp_webp_052 .list-dot {margin-top:24px; padding:24px 0; border-top: 1px solid #eee; }

.kbp_webp_054 .list-type02 {margin-top: 32px;}
.kbp_webp_054 .list-type02 .cert span:before {background-image: url(../images/icon/ico_card.png);}

/* 소득공제 신청시 유의사항 */
.kbp_webp_056 .list-dot {margin: 16px 0 8px 0;}
.kbp_webp_056 .list-dot li:last-child {padding-bottom: 0;}

/* 카드비밀번호 인증*/
.kbp_webp_061 .txt02 {padding-top:48px;}

.kbp_webp_065 > .tit {padding-bottom: 8px; font-weight: 700;}
.kbp_webp_065 > .tit02 {padding-top: 32px;}
.kbp_webp_065 .head .f-chk.checked:before {background: url(../images/icon/ico_chk_on.png) no-repeat; background-size: contain;}

/* 생년월일 입력 */
.kbp_webp_066 .tit + .form-wrap {padding-top: 0;}

.kbp_webp_068 .top-text {margin-top: 24px;}
.kbp_webp_068 .agree-terms {margin-top: 32px;}
.kbp_webp_068 .head .f-chk.checked:before {background: url(../images/icon/ico_chk_on.png) no-repeat; background-size: contain;}

.kbp_webp_071 .resend-tip {position: absolute; bottom: 112px; left: 0; width: 100%; text-align: center;}

.kbp_webp_078 {padding-bottom: 0;}

.kbp_webp_079 .txt02 {padding-top: 24px;}

.kbp_webp_082 .form-wrap {padding-top: 18px;}
.kbp_webp_082 .btn-group {padding: 16px 0;}
@media only screen and (max-width: 360px) {
    .kbp_webp_082 > .txt02 {font-size: 17px;}
}
@media only screen and (max-width: 320px) {
    .kbp_webp_082 > .txt02 {font-size: 16px;}
}

.kbp_webp_089 .guide-txt {margin-top: 24px; letter-spacing: -1px;}
.kbp_webp_089 .cd-nodata {margin-top: 184px;}
.kbp_webp_089 .link01 {padding-top: 16px;}

.kbp_webp_094 .form_text {margin: 16px 0 8px 0;}

.kbp_webp_095 .cert-device .list .item:last-child {border-bottom: none;}

@media only screen and (max-width: 320px) {
    .kbp_webp_099 .pass-error {margin-top: 34px;}
}

.kbp_webp_101 .list-type07 {margin-top: 0; padding: 16px 0 8px 0; border-top: none;}
.kbp_webp_101 .list-type07 .txt-info {margin-bottom: 8px; padding-bottom: 8px; font-size: 14px; color: #666; line-height: 20px; letter-spacing: -0.2px; border-bottom: 1px solid #ddd;}
.kbp_webp_101 .list-type07 .top-area {padding-bottom: 0; border-bottom: none;}
.kbp_webp_101 .list-type07 .top-area li + li {margin-top: 16px;}
.kbp_webp_101 .list-type07 .top-area dt {font-size: 14px; color: #666; line-height: 20px; letter-spacing: -0.2px;}
.kbp_webp_101 .list-type07 .top-area dd {font-size: 14px; color: #222; font-weight: 500; line-height: 20px; letter-spacing: -0.2px;}
.kbp_webp_101 .list-type07 .bottom-area dt {font-size: 16px; color: #666; font-weight: 500; line-height: 24px; letter-spacing: -0.4px;}
.kbp_webp_101 .list-type07 .bottom-area dd {font-size: 16px; color: #222; font-weight: 700; line-height: 24px; letter-spacing: -0.4px;}

.kbp_webp_103 .list-dot {margin-top: 32px;}
.kbp_webp_103 .list-dot > li {padding: 0 0 0 12px;}
.kbp_webp_103 .list-dot > li + li {margin-top: 16px;}
.kbp_webp_103 .form_text .text:read-only {color: #222;}

.kbp_webp_104 > .tit {padding-bottom: 24px;}

.kbp_webp_105 > .tit {padding-bottom: 24px; font-size: 16px; line-height: 24px;}
.kbp_webp_105 .agree-terms {margin-top: 0;}
.kbp_webp_105 .head .f-chk.checked:before {background: url(../images/icon/ico_chk_on.png) no-repeat; background-size: contain;}
.kbp_webp_105 .resend-tip {padding-top: 0;}
.kbp_webp_105 .resend-tip .msg {display: block; margin-top: 8px; font-size: 12px; color: #666; line-height: 16px; letter-spacing: -0.2px;}

.kbp_webp_106 > .tit {padding-bottom: 24px;}

.kbp_webp_107 > .tit {padding-bottom: 24px;}

.kbp_webp_108 .list-dot > li {padding: 0 0 0 12px;}
.kbp_webp_108 .list-dot > li + li {margin-top: 16px;}

.kbp_webp_109 .tit {padding-bottom: 8px;}
.kbp_webp_109 .list-dot > li {padding: 0 0 0 12px;}
.kbp_webp_109 .list-dot > li + li {margin-top: 8px;}
.kbp_webp_109 .resend-tip {padding-top: 32px;}

.kbp_webp_110 .tit {padding-bottom: 8px;}
.kbp_webp_110 .list-dot > li {padding: 0 0 0 12px;}
.kbp_webp_110 .list-dot > li + li {margin-top: 8px;}

/* 결제비밀번호 입력 */
.kbp_webp_015_1 .txt02,
.kbp_webp_021 .txt02,
.kbp_webp_016 .txt02,
.kbp_webp_039 .txt02,
.kbp_webp_040 .txt02,
.kbp_webp_063 .txt02 {padding:56px 0 0}
