@charset "utf-8";

/* Accordion menu */
.accordion.type01 .head {position: relative; border-bottom: 1px solid #ddd;}
.accordion.type01 .head a {display: block;}
.accordion.type01 .head a::before {content: "▼"; display: block; position: absolute; right: 10px; top: 2px; font-size: 16px;}
.accordion.type01 .body {display: none; background: #eee;}


/* Agree */
.agree-terms {margin-top: 24px;} /* tit02 하단 여백 수정 */
.agree-terms .check-all {border-bottom: 1px solid #ddd;}
.agree-terms .head {position: relative; padding: 16px 0 16px 16px; border-bottom: 1px solid #ddd;}
.agree-terms .head .btn {position: absolute; right: 0; top: 50%; transform: translateY(-50%) rotate(180deg); width: 16px; height: 16px; font-size: 0; text-indent: -9999px; background: url(../images/icon/ico_arrow_up.png) no-repeat; background-size: contain;}
.agree-terms .head .f-chk span {display: inline-block; width: calc(100% - 31px); /*height: 24px;*/ font-size: 16px; line-height: 24px;}
.agree-terms .head .btn.on {transform: translateY(-50%);}
.agree-terms .head.type02 {margin-bottom: 16px; border-radius: 4px; border: solid 1px #dddddd; background-color: #ffffff;}
.agree-terms .list {padding-bottom:33px;}
.agree-terms .list > li {position: relative; padding-top: 28px; padding-left: 48px; line-height: 20px;}
.agree-terms .list > li > .f-chk {position:absolute; top: 28px; left:16px; color: #666; font-size: 14px;}
.agree-terms .list > li > .f-chk.type02:before {margin-right: 2px;}
.agree-terms .list > li > .f-chk span {display: inline-block; padding-bottom: 2px; border-bottom: 1px solid #aaa;}
.agree-terms .list > li .show-detail {font-size: 14px; color: #666; text-decoration: underline; letter-spacing: -.2px;}
.agree-terms .list > li:first-child {position: relative; padding-top: 22px; }
.agree-terms .list > li:first-child > .f-chk {top: 22px;}
.agree-terms .list .list-2depth {padding-top: 7px; margin:22px 0 0 -48px; overflow:hidden; border-top: 1px solid #eee;}
.agree-terms .list .list-2depth > li {float:left; padding-right:16px;}
.agree-terms .list .list-2depth > li:first-child {padding-left:48px;}
.agree-terms .list .list-2depth > li .show-detail {text-decoration:none}
.agree-terms .list .list-2depth  .f-chk.type02::before {margin-right: 4px;}
.agree-terms .head.type02 .f-chk.checked::before {background: url(../images/icon/ico_chk_on.png) no-repeat; background-size: contain;}

.agree-terms02 {margin-top: 32px;}
.agree-terms02 .check-all {border-bottom: 1px solid #ddd;}
.agree-terms02 .head {position: relative; padding: 16px 0 16px 16px; border: 1px solid #ddd; border-radius: 4px;}
.agree-terms02 .head .f-chk span {display: inline-block; width: calc(100% - 31px); height: 24px; font-size: 16px; line-height: 24px;}
.agree-terms02 .head .btn.on {transform: translateY(-50%);}
.agree-terms02 .head.type02 {margin-bottom: 16px; border-radius: 4px; border: solid 1px #dddddd; background-color: #ffffff;}
.agree-terms02 .list {padding-bottom:33px;}
.agree-terms02 .list > li {position: relative; padding-top: 28px; padding-left: 48px; line-height: 20px;}
.agree-terms02 .list > li > .f-chk {position:absolute; top: 28px; left:16px; color: #666; font-size: 14px;}
.agree-terms02 .list > li > .f-chk.type02:before {margin-right: 2px;}
.agree-terms02 .list > li > .f-chk span {display: inline-block; padding-bottom: 2px; border-bottom: 1px solid #aaa;}
.agree-terms02 .list > li .show-detail {font-size: 14px; color: #666; text-decoration: underline; letter-spacing: -.2px;}
.agree-terms02 .list > li:first-child {position: relative; padding-top: 22px; }
.agree-terms02 .list > li:first-child > .f-chk {top: 22px;}
.agree-terms02 .list .list-2depth {padding-top: 7px; margin:22px 0 0 -48px; overflow:hidden; border-top: 1px solid #eee;}
.agree-terms02 .list .list-2depth > li {float:left; padding-right:16px;}
.agree-terms02 .list .list-2depth > li:first-child {padding-left:48px;}
@media only screen and (max-width: 320px) {
    .agree-terms02 .list .list-2depth > li:first-child {padding-right: 5px; padding-left:28px;}
}
.agree-terms02 .list .list-2depth > li .show-detail {text-decoration:none}
.agree-terms02 .list .list-2depth  .f-chk.type02::before {margin-right: 4px;}


/* Button */
.btn {display: inline-block; cursor: pointer;}
.btn span {display: block; position: relative;}
.btn.medium {height: 48px;}
.btn.medium span {height: 48px; font-size: 16px; line-height: 48px;}
.btn.large {height: 56px;}
.btn.large span {height: 56px; font-size: 18px; font-weight: 400; line-height: 56px;}
.btn.yellow {color: #222; background: #ffcc00;}
.btn.gray {color: #222; background: #ddd;}
.btn:disabled {color: #888; background: #f8f8f8;}

.btn-group {display: flex; width: 100%; padding: 16px;}
.btn-group > button {flex-grow: 1; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: calc(50% - 4.5px); border-radius: 8px; font-weight: 500; letter-spacing: -0.4px;}
.btn-group > button.mr {margin-right: 9px;}


/* Card */
.card-box {position: relative; display: table; padding: 8px 0; width: 100%; table-layout: fixed;}
.card-box.line {border:1px solid #eee;}
.card-box .img-area {position: relative; display: table-cell; width: 96px; height: 60px; vertical-align: middle; border-radius: 4px;}
.card-box .img-area.active .img:before {position: absolute; top: 0; left: 0; content: ""; width: 96px; height: 60px; background: transparent; border: 2px solid #ffcc00; border-radius: 4px; box-sizing: border-box; z-index: 5;}
.card-box .img-area.active .img:after {position: absolute; top: -8px; right: -8px; content: ""; width: 24px; height: 24px; background: url(../images/icon/ico_card_selected.png) no-repeat; background-size: contain; background-position: center center; z-index: 10;}
.card-box .img-area .img {position: relative; display: inline-block; width: 96px; height: 60px; vertical-align: middle;}
.card-box .img-area .img img{display: block; width: 100%; height: 100%;}
.card-box .img-area .img .trans-suspen {display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; border-radius: 5px; text-align: center; background: rgba(0, 0, 0, 0.5);}
.card-box .img-area .img .trans-suspen span {display: inline-block; height: 20px; margin-top: 20px; padding: 0 8px; border: 1px solid #fff; border-radius: 10px; color: #fff; font-size: 12px; line-height: 18px;}
.card-box .txt-area {display: table-cell; padding-left: 16px; width: 100%; font-size: 0; vertical-align: middle;}
.card-box .txt-area .card-tit {display: block; margin-bottom: 4px; width: 100%; font-size: 16px; color: #222; font-weight: 500; line-height: 24px; letter-spacing: -0.4px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.card-box .txt-area .card-tit .card-icon {display: inline-block; margin-right: 4px; width: 32px; height: 24px;}
.card-box .txt-area .card-type {position: relative; display: inline-block; margin-right: 10px; font-size: 14px; color: #666; font-weight: 500; line-height: 20px; letter-spacing: -0.2px; vertical-align: middle;}
.card-box .txt-area .card-type:after {position: absolute; top: 9px; right: -5px; content: ""; width: 2px; height: 2px; background: #979797; border-radius: 50%;}
.card-box .txt-area .card-num {display: inline-block; font-size: 12px; color: #666; line-height: 16px; vertical-align: middle;}

.cd-nodata .msg-nodata {color: #888; font-size: 14px; font-weight: 400; line-height: 20px; letter-spacing: -0.2px; text-align: center;}
.cd-nodata .msg-nodata::before {content: ""; display: block; width: 48px; height: 48px; margin: 0 auto 7px; background: url(../images/icon/ico_nodata.png) no-repeat; background-size: contain;}


/* Form */
.f-ipt-select {position: relative;}
.f-ipt-select::after {content: "▼"; display: block; position: absolute; right: 0; top: 0;}
.f-ipt-select input {width: 100%;}

.f-chk {display: inline-block; position: relative; /*height: 24px;*/ color: #222; font-size: 16px; font-weight: 400; line-height: 24px;}
.f-chk::before {content: ""; display: inline-block; width: 24px; height: 24px; margin-right: 3px; background: url(../images/icon/ico_chk_off.png) no-repeat; background-size: contain; vertical-align: top;}
.f-chk.only::before {margin-right: 0;}
/* .f-chk.checked::before {background: url(../images/icon/ico_chk_on.png) no-repeat; background-size: contain;} */
.f-chk.checked::before {background: url(../images/icon/ico_chk2_on.png) no-repeat; background-size: contain;}
.f-chk.disabled::before {background: url(../images/icon/ico_chk_disabled.png) no-repeat; background-size: contain;}
.f-chk input {position: absolute; left: -9999px; top: -9999px;}

.f-chk.type02::before {background: url(../images/icon/ico_chk_off02.png) no-repeat; background-size: contain; vertical-align: top;}
.f-chk.type02.only::before {margin-right: 0;}
.f-chk.type02.checked::before {background: url(../images/icon/ico_chk_on02.png) no-repeat; background-size: contain;}

.f-chk .stat {position: absolute; left: -9999px; top: -9999px;}

.f-rdo {display: inline-block; position: relative; height: 24px; color: #222; font-size: 16px; font-weight: 400; line-height: 24px;}
.f-rdo::before {content: ""; display: inline-block; width: 24px; height: 24px; margin-right: 7px; border: 1px solid #dedede; border-radius: 50%; background: #fff; vertical-align: top; box-sizing: border-box;}
.f-rdo.only::before {margin-right: 0;}
.f-rdo.checked::before {border: 0; background: #ffcc00;}
.f-rdo.disabled::before {background: #f8f8f8;}
.f-rdo.checked::after {content: ""; display: block; position: absolute; left: 7px; top: 7px; width: 10px; height: 10px; border-radius: 50%; background: #fff;}

.f-rdo input {position: absolute; left: -9999px; top: -9999px;}
.f-rdo + .f-rdo {margin-left:13px;}

.f-switch {display: inline-block; min-width: 50px; height: 20px; padding-right: 16px; border: 1px solid #ddd; border-radius: 10px; font-size: 12px;}
.f-switch span {display: block; position: relative; height: 100%; text-align: right;}
.f-switch span::after {content: ""; display: block; position: absolute; left: 1px; top: 0; width: 18px; height: 18px; border-radius: 50%; background: #999; transition: .2s;}
.f-switch span::before {content: "OFF"; display: inline; position: relative; right: -16px;}
.f-switch input {position: absolute; left: -9999px;}
.f-switch input:checked + span {text-align: left;}
.f-switch input:checked + span::after {left: 100%; background: blue;}
.f-switch input:checked + span::before {content: "ON"; right: auto;}

.f-group {display: table; width: 100%;}
.f-group > * {display: table-cell; width: 50%;}
.f-group.type01 dt {width: 80px; font-size: 13px;}
.f-group.type01 dd {width: auto;}
.ipt-group {display: flex;}
.ipt-group > * {flex-grow: 1;}
.ipt-group input[type=text] {width: 100%;}

.f-in-bar {flex-grow: 0; width: 20px !important; text-align: center !important;}/* 하이푼 */
.ssn-first {flex-grow: 0; width: 20px !important;}/* 주민번호 뒷자리중 첫번째 */
.ssn-hidden {flex-grow: 0; width: 100px !important;}/* 주민번호 뒷자리 hidden */
.ipt-group .community-cpn {flex-grow: 0; width: 80px !important;}/* 통신사 */


/* Guide text */
.guide-txt-list li {position: relative; padding-left: 7px;}
.guide-txt-list li::before {content: ""; display: block; position: absolute; left: 0; top: 10px; width: 3px; height: 1px; background: #666;}


/* Icon */
.ico {display: inline-block; font-size: 0; text-indent: -9999px;}
.ico-question {border: 1px solid #ddd; border-radius: 50%;}


/* List */
.list-type > dl {display: table; width: 100%;}
.list-type > dl > * {display: table-cell;}
.list-type > dl > dd .cd-name {display: block;}
.list-type > dl > dd .cd-num {display: block;}

.list-type01{position: relative; display: table; padding: 32px 24px 32px 0; width: 100%; border-bottom: 1px solid #eee; cursor: pointer;}
.list-type01:after{position: absolute; top: calc(50% - 12px); right: 0; content: ""; width: 24px; height: 24px; background: url(../images/icon/ico_arrow_lightgray.png) no-repeat; background-size: 24px 24px;}
dl.list-type01 dt{display: table-cell; width:64px; vertical-align: middle;}
dl.list-type01 dt .icon{position: relative; display: inline-block; width: 64px; height: 64px; vertical-align: middle;}
dl.list-type01 dt .icon img{display: block; width: 100%; height: 100%;}
dl.list-type01 dd{display: table-cell; padding-left: 16px; vertical-align: middle;}
dl.list-type01 dd p{margin-bottom: 8px; font-size: 16px; color: #666; line-height: 24px; letter-spacing: -0.4px; white-space: nowrap;}
dl.list-type01 dd span{display: block; font-size: 18px; color: #222; font-weight: 700; line-height: 26px; letter-spacing: -0.4px; white-space: nowrap;}
dl.list-type01 dd a{display: inline-block; margin-top: 4px; font-size: 16px; color: #666; line-height: 24px; letter-spacing: -0.4px; border-bottom: 1px solid #aaa; white-space: nowrap;}
dl.list-type01 dd img{display: inline-block; width: 134px; height: 20px;}
ul.list-type01{padding: 37px 24px 37px 0;}
ul.list-type01 li p{margin-bottom: 4px; font-size: 16px; color: #666; line-height: 24px; letter-spacing: -0.4px;}
ul.list-type01 li span{font-size: 18px; color: #222; font-weight: 700; line-height: 26px; letter-spacing: -0.4px;}
.list-type01 + .list-type02 {margin-top: 40px;}
.list-type01:last-child {border-bottom: none;}

.list-type02 li + li{margin-top: 8px;}
.list-type02 li a{display: block; padding: 15px 56px 15px 16px; border: 1px solid #ddd; border-radius: 8px;}
.list-type02 li a span{display: inline-block; font-size: 16px; color: #222; line-height: 24px; letter-spacing: -0.4px;}
.list-type02 li a.disabled {border: none; background: #f8f8f8;}
.list-type02 li a.disabled span {color: #888;}
.txt02 + .list-type02 {margin-top: 32px;}

.list-type03{padding-top: 16px;}
.list-type03 li + li{margin-top: 8px;}

.list-type04 {padding: 32px 0 24px 0;}
.list-type04 dt {font-size: 0; overflow: hidden;}
.list-type04 dt span {display: inline-block; font-size: 18px; color: #222; font-weight: 700; line-height: 26px; letter-spacing: -0.4px; vertical-align: middle;}
.list-type04 dt .btn-more {position: relative; display: inline-block; width: 24px; height: 24px; text-indent:-9999px; background: url(../images/icon/ico_btn_more.png) no-repeat; background-size: 24px 24px; float: right;}
.list-type04 dt .btn-box{padding-top: 3px; font-size: 0; float: right;}
.list-type04 dt .btn-box button{padding: 0 0 2px 0; font-size: 14px; color: #666; line-height: 20px; letter-spacing: -0.2px; background: none; border-bottom: 1px solid #aaa;}
.list-type04 dt .btn-box button + button{margin-left: 16px;}
.list-type04 dd + dt {margin-top: 40px;}
.list-type04 dd .list-none {padding-top: 16px; font-size: 14px; color: #888; line-height: 16px; letter-spacing: -0.23px;}
.list-type04 dd .list {margin-top: 12px;}
.list-type04 dd .list li + li {margin-top: 8px;}
.list-type04 dd .list .card-box .img-area{vertical-align: middle;}
.list-type04 dd .list .card-box .txt-area{position: relative; padding-right: 32px;}
.list-type04 dd .list .card-box .txt-area .btn-del{position: absolute; top: calc(50% - 11px); right: 0; display: inline-block; padding: 0 0 2px 0; height: 22px; font-size: 14px; color: #666; line-height: 20px; letter-spacing: -0.2px; background: none; border-bottom: 1px solid #aaa;}
.list-type04 dd .list .card-box .card-type04 {margin-right: 4px; color: #2cb276;}
.list-type04 dd .list .card-box.point .txt-area {padding-right: 0;}
.list-type04 dd .list .card-box.voucher .txt-area {padding-right: 0;}
.list-type04 dd .list .card-box .card-point {display: inline-block; font-size: 14px; color: #666; font-weight: 500; line-height: 20px; letter-spacing: -0.2px; vertical-align: middle;}
.list-type04 .last-border {padding-bottom: 40px; border-bottom: 1px solid #ddd;}

.list-type05 {padding: 40px 0 8px 0; border-bottom: 1px solid #ddd;}
.list-type05 dl {display: table; width: 100%;}
.list-type05 dl dt {display: table-cell; font-size: 16px; color: #222; font-weight: 700; line-height: 24px; letter-spacing: -0.4px;}
.list-type05 dl dd {display: table-cell; font-size: 16px; color: #222; font-weight: 700; line-height: 24px; text-align: right; letter-spacing: -0.4px;}

.list-type06 {padding-top: 16px;}
.list-type06 li + li{margin-top: 16px;}
.list-type06 dl {display: table; width: 100%;}
.list-type06 dl dt {position: relative; display: table-cell; font-size: 16px; color: #666; line-height: 24px; letter-spacing: -0.4px;}
.list-type06 dl dd {display: table-cell; font-size: 16px; color: #222; font-weight: 500; line-height: 24px; text-align: right; letter-spacing: -0.4px;}

.list-type07 {margin-top: 73px; padding-top: 16px; border-top: 1px solid #ddd;}
.list-type07 .top-area li + li {margin-top: 16px;}
.list-type07 .top-area dl {display: table; width: 100%;}
.list-type07 .top-area dl dt {display: table-cell; font-size: 16px; color: #666; line-height: 24px; letter-spacing: -0.4px;}
.list-type07 .top-area dl dd {display: table-cell; font-size: 16px; color: #222; font-weight: 500; line-height: 24px; text-align: right; letter-spacing: -0.4px;}
.list-type07 .bottom-area {padding-top: 16px;}
.list-type07 .bottom-area dl {display: table; width: 100%;}
.list-type07 .bottom-area dl dt {display: table-cell; font-size: 18px; color: #666; font-weight: 500; line-height: 26px; letter-spacing: -0.4px;}
.list-type07 .bottom-area dl dd {display: table-cell; font-size: 18px; color: #222; font-weight: 700; line-height: 26px; text-align: right; letter-spacing: -0.4px;}

.list-type08 {padding: 8px 0; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.list-type08 dl {display: table; width: 100%; font-size: 16px; line-height: 1.5; letter-spacing: -0.4px;}
.list-type08 dl dt,
.list-type08 dl dd {display: table-cell; width: 50%; padding: 8px 0;}
.list-type08 dl dt {color: #888;}
.list-type08 dl dd {color: #222; font-weight: 500;}

.list-type09 {padding: 16px 0 24px 0;}
.list-type09 li + li {margin-top: 16px;}
.list-type09 .list-tit {font-size: 16px; color: #222; font-weight: 700; line-height: 24px; letter-spacing: -0.4px;}
.list-type09 .list-txt {font-size: 16px; color: #666; line-height: 24px; letter-spacing: -0.4px;}
.list-type09 .list-txt + .list-tit {margin-top: 32px;}

.list-type10 li + li{margin-top: 16px;}
.list-type10 li a {position: relative; display: block; padding: 15px 56px 15px 16px; border: 1px solid #eee; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06);}
.list-type10 li a:after {position: absolute; top: calc(50% - 12px); right: 16px; content: ""; width: 24px; height: 24px; background: url(../images/icon/ico_arrow_lightgray.png) no-repeat; background-size: 100% 100%;}
.list-type10 li a span{display: inline-block; font-size: 16px; color: #222; line-height: 24px; letter-spacing: -0.4px;}

.list-type11 dl {display: table; width: 100%; font-size: 18px;}
.list-type11 dl > * {display: table-cell; width: 50%; padding: 16px 0;}
.list-type11 dl dd {font-weight: 700; text-align: right;}

.bottom-list {padding: 16px 0;}
.bottom-list li button {display: block; width: 100%; height: 48px; color: #666; font-size: 16px; text-align: left; letter-spacing: -0.4px; background: none;}

.bottom-list-type02 {padding: 16px 0;}
.bottom-list-type02 li button {display: block; width: 100%; height: 48px; color: #666; font-size: 16px; text-align: left; letter-spacing: -0.4px; background: none;}


dl.list-dot {padding: 16px 0; border-top: 1px solid #eee;}
dl.list-dot dt {font-size: 18px; color: #222; font-weight: 700; line-height: 26px; letter-spacing: -0.4px;}
dl.list-dot dd {position: relative; margin-top: 16px; font-size: 16px; color: #666; line-height: 24px; letter-spacing: -0.4px;}
dl.list-dot dd + dt {margin-top: 32px;}

.list-dot-type02 {padding: 16px 0 24px 0;}
.list-dot-type02 dt {font-size: 14px; color: #222; line-height: 20px; letter-spacing: -0.2px;}
.list-dot-type02 dd {margin-top: 8px;}
.list-dot-type02 dd + dt,
.list-dot-type02 dt + dt {margin-top: 16px;}
.list-dot-type02 dd li {font-size: 14px; color: #666; line-height: 20px; letter-spacing: -0.2px;}
.list-dot-type02 dd li + li {margin-top: 8px;}


/* Rolling banner */
.roll-banner > div {text-align: center;}
.bx-wrapper .bx-prev,
.bx-wrapper .bx-next {background: gray;} 


/* Tab */
.tab-list.type01 {height: 48px; margin: 0 -16px; padding: 16px 16px 0 16px; font-size: 0; border-bottom: 1px solid #ddd;}
.tab-list.type01 li {display: inline-block; padding: 0; width: 50%;}
.tab-list.type01 li a {position: relative; display: block; padding: 12px 0; font-size: 16px; color: #666; line-height: 24px; text-align: center; letter-spacing: -0.4px;}
.tab-list.type01 li a.active {color: #222; font-weight: 700;}
.tab-list.type01 li a.active:after {position: absolute; bottom: -1px; left: 0; content: ""; width: 100%; height: 2px; background: #222;}

.tab-list.type02 {height: 48px; margin: 0 -16px; padding: 0 16px 0 16px; font-size: 0; border-bottom: 1px solid #ddd;}
.tab-list.type02 li {display: inline-block; padding: 0; width: 50%;}
.tab-list.type02 li a {position: relative; display: block; padding: 12px 0; font-size: 16px; color: #666; line-height: 24px; text-align: center; letter-spacing: -0.4px;}
.tab-list.type02 li a.active {color: #222; font-weight: 700;}
.tab-list.type02 li a.active:after {position: absolute; bottom: -1px; left: 0; content: ""; width: 100%; height: 2px; background: #222;}
.tab-contents .tab-item {display: none;}
.tab-contents .tab-item:first-child {display: block;}

.tab-list.triple {display: table; width: calc(100% + 32px);}
.tab-list.triple li {width: calc(100%/3); white-space: nowrap;}
@media screen and (max-width: 370px) {
    .tab-list.triple li a {font-size: 14px; line-height: 20px;}
}




/* Text */
.txt {color: #666; font-size: 16px; line-height: 1.5; letter-spacing: -0.4px;}
.txt07 {color: #666; font-size: 14px; font-weight: 400; line-height: 20px; letter-spacing: -0.2px;}
.txt08 {color: #666; font-size: 12px; font-weight: 400; line-height: 16px; letter-spacing: 0;}
.txt09 {color: #888; font-size: 14px; line-height: 20px; letter-spacing: -0.2px;}

.txt02 {color: #222; font-size: 18px; line-height: 1.44; letter-spacing: -0.4px;}
.txt04 {color: #222; font-size: 16px; font-weight: 400; letter-spacing: -0.4px; line-height: 24px;}
.txt05 {color: #222; font-size: 20px; font-weight: 400; letter-spacing: -0.4px; line-height: 32px;}
.txt06 {color: #222; font-size: 14px; font-weight: normal; line-height: 1.43; letter-spacing: -0.2px;}

.txt03 {color: #888; font-size: 12px; font-weight: 400; line-height: 16px; letter-spacing: 0; height: 16px; }

.txt-error {display: block; margin-top: 8px; color: #ff0000; font-size: 12px;}
.txt-error::before {content: "!"; display: inline-block; width: 16px; height: 16px; margin-right: 2px; border: 1px solid #ff0000; border-radius: 50%; color: #ff0000; font-size: 14px; font-weight: 700; text-align: center; line-height: 14px;}


/* Title */
.tit {font-size: 20px; font-weight: 400; line-height: 1.5; letter-spacing: -0.4px; color: #222;}
.tit > .underline {font-weight: 700;}
.tit02 {font-size: 16px; font-weight: 700; line-height: 1.5; letter-spacing: -0.4px; color: #222;}


/* Toast layer */
.msg-toast {z-index: 99; position: fixed; left: 0; top: 56px; width: 100%; padding: 0 16px;}
.msg-toast span {display: block; padding: 18px 16px; border-radius: 5px; color: #fff; font-size: 14px; font-weight: 500; letter-spacing: -0.2px; text-align: center; background: rgba(0, 0, 0, 0.4);}


/* Tool tip */
.tool-tip {position: relative; padding:16px 0; text-align: center;}
.tool-tip > p {font-size: 16px; line-height: 1.5; letter-spacing: -0.4px; color: #666666;}
.tool-tip > p a {position: relative; display: inline-block; padding-right: 32px; font-size: 16px; color: #666; line-height: 24px; letter-spacing: -0.4px;}
.tool-tip > p a:after {position: absolute; top: 0; right: 0; content:""; width: 24px; height: 24px; background: url(../images/icon/ico_tooltip.png) no-repeat; background-size: 100%;}
.tool-tip .f-chk.checked:before {background: url(../images/icon/ico_chk_on.png) no-repeat; background-size: contain;}
.tool-tip > p a em {position: absolute; left: -9999px; top: -9999px;}

.tool-tip .desc {display:inline-block; width:24px; height:24px; font-size:0; background: url(../images/icon/ico_tooltip.png) no-repeat; background-size: contain; vertical-align: top;}

.tip-box {position:absolute; left:0; width:100%; margin-top:8px; padding:24px 48px 24px 24px; text-align: left; border-radius: 8px; border:1px solid #aaa; z-index:9; background: #fff; display:none;} 
.tip-box .btn-close {position:absolute; top:16px; right:8px; width:16px; height: 16px; text-indent: -9999px; overflow:hidden; background:url(../images/icon/ico_btn_tip_close_24.png) center center no-repeat; background-size:100%; }
.tip-box > p {font-size:14px; color:#666; line-height: 1.43; letter-spacing: -0.2px; text-align: left;}
.tip-box > dl {font-size:14px; color: #666; line-height: 1.43;}
.tip-box > dl dt {padding-bottom: 8px; font-weight: bold;}
.tip-box > dl dd + dt {padding-top: 16px; }
.tip-box > ul li {font-size: 14px; color: #666; line-height: 20px; letter-spacing: -0.2px;}
.tip-box > ul li + li {margin-top: 16px;}

.tool-tip.up .tip-box {bottom: 44px;}


/* list */
.list-ico > li {position: relative; padding:24px 0 0; font-size: 16px; color:#666; line-height: 1.5; letter-spacing: -0.4px; }
.list-ico > li .strong {display:block; padding-bottom:8px; font-size:16px; color:#222; font-weight: bold;}
.list-ico.num {counter-reset: section; }
.list-ico.num > li {position:relative; padding:24px 0 24px 31px; font-size:14px; line-height: 1.43; letter-spacing: -0.2px; color: #666666; }
/* .list-ico.num > li + li {border-top:1px solid #eee;} */
.list-ico.num > li:first-child {padding-top:16px;}
.list-ico.num > li:first-child:before {top:16px;}
.list-ico.num > li:last-child {padding-bottom:8px;}
.list-ico.num > li:before {content: "0" counter(section)""; counter-increment: section; position:absolute; top:23px; left:0; font-size:18px; color:#222; line-height:21px; font-weight:bold}

.list-dot > li {position:relative; padding:0 0 5px 11px; font-size: 16px; line-height: 1.5; letter-spacing: -0.4px; color: #666;}
.list-dot > li:before {content:""; display:block; position:absolute; top:10px; left:0; width:4px; height:4px; background:#999; border-radius:50%; -webkit-border-radius:50%;}
.list-dot.type02 > li {padding-bottom: 16px;}

/* underline link*/
.resend-tip {padding-top: 24px; text-align: right;}
.resend-tip > button,
.resend-tip > a {display:inline-block; padding:0 0 3px; font-size:16px; color:#666; letter-spacing: -0.2px; border-bottom: 1px solid #aaa; background:#fff}
.resend-tip > button + button,
.resend-tip > a + button,
.resend-tip > button + a {margin-left:13px;}
.passWrap + .resend-tip {padding-top:16px; text-align:center;}

@media only screen and (max-width: 320px) {
    .resend-tip > button + button,
    .resend-tip > a + button,
    .resend-tip > button + a {margin-top:8px; margin-left: 0;}
}

/* 인증번호 입력 */
.passWrap {position:relative; text-align:center;}
.passWrap .time {padding:19px 0 0; font-size:14px; line-height:20px; color:#ff0000}
.passWrap .lb {position: absolute; left: 50%; top: 0; transform: translateX(-50%); width: 60%; height: 26px; font-size: 0; text-indent: -9999px;}

.pass-input {position:relative; display:inline-block; z-index:1;}
.pass-input .hidden-field {position:absolute; top:0; left:0; z-index:-1;}
.pass-input .dot {position:relative; display:inline-block; width:12px; height:40px; font-size:18px; color:#222; line-height:37px; vertical-align:middle}
.pass-input .dot:before {content:""; display:block; position:absolute; top:13px; left:0; width:12px; height:12px; border-radius:50%; -webkit-border-radius:50%; background:#eee;}
.pass-input.word2 .dot:before {background:#888;}
.pass-input .dot.black {text-indent:-9999em}
.pass-input .dot.black:before {background:#222}
.pass-input .dot.on.black:before {display:block; background:#222}
.pass-input .dot.on:before {display:none; background:none}
.pass-input .dash {color:#aaa; line-height:40px;}

.id-number .pass-input {width:50%; float:left;} /* 주민번호 앞자리 + 뒷자리 */
.form_text.on .pass-input {padding-top:22px;} /* 정보입력 > 마스킹처리 input */
.form_text.error .pass-input {padding-top:22px;}

/* 결제비밀번호 입력 > 숫자로 받음 */
.password {opacity:1 !important}
.password .pass-input .dot {font-size:24px; width:24px; height:24px; line-height:24px;}
.password .pass-input .dot:before {top:6px; left:4px; width:16px; height:16px;}
.password .pass-input .dot + .dot {margin-left:0;}

/* 결제비밀번호 입력 > 도트로 받음 */
.password .pass-input .dot.yellow.on {text-indent: -99999em;}
.password .pass-input .dot.yellow.on:before {display:block; background:#ffcc00}

.pass-input.pass input {color:#ffcc00; font-size:60px; line-height:60px;}
.pass-bg {position:absolute; top:0; left:0; width:100%; text-align:center;}
.pass-bg input {width:24px; font-size:60px; line-height:60px; color:#eee; text-align:center;}
.pass-bg input.black {color:#222}

.btn.gray.type02 {background:#c4c4c4;}
.btn.yellow.type02 {background:#e2b916}

/* form list (정보입력 화면) */
.form-wrap {padding-top:16px;}
.tit + .form-wrap {padding-top:0;}

.form-text-list li {width:100%;}
.form-text-list li + li {padding-top:32px;}
.form-text-list li:after {content:""; display:block; clear:both;}

.form_text {position:relative; display:block; height:64px; line-height:64px; border-bottom:1px solid #ddd}
.form_text.on {border-color:#ffcc00;} /* active 상태*/
.form_text.on.out {border-color:#ddd} /* 값 입력 후 focusout */

.form_text label {position:absolute; top:0; left:0; right:0; font-size:18px; line-height:64px; transition: .3s; -webkit-transition: .3s; z-index:2; color: #888; letter-spacing: -0.4px; display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;} /* lebel default */
.form_text.ph label {pointer-events: none;}
.form_text.on label {top:1px; font-size:14px; line-height:17px; z-index:1} /* focus 후 lebel 위치이동 */

.form_text .btn-delete {opacity:0; position:absolute; top:4px; right:0; display:none; width:56px; height:0; padding-top:56px; overflow: hidden; background:url(../images/icon/ico_input_delete.png) center center no-repeat; background-size: 24px 24px; z-index:3;} /* form 입력시 삭제버튼 */
/* .form_text.on .btn-delete {opacity:1} */
.form_text.on .btn-delete {opacity:0}
.form_text.on.out .btn-delete {opacity:0;}
/* .form_text.on.out input:focus + .btn-delete {opacity:1} */
.form_text.on.out input:focus + .btn-delete {opacity:0}

.form_text .text {opacity:0; position:absolute; top:21px; left:0; height:40px; padding:0; max-width:90%; font-size:18px; color:#222; line-height:40px; background: #fff; border:0; z-index:1;} 
.form_text.on .text {opacity:1; z-index:2}
.form_text .text:read-only, .form_text .text:disabled {color:#888}
.form_text .text:read-only + .btn-delete ,
.form_text .text:disabled + .btn-delete {display:none !important}
.form_text .text:focus {outline: none;}
.form_text .text.card-number {letter-spacing: 4px; width:100%;}

.form_text.disabled .pass-input .dot {color:#888; }
.form_text.disabled .pass-input .dot:before  {background:#888; }

/* 카드번호 16자리 */
.form_text.field-4 {position: relative;}
.form_text.field-4 .text {width: 25%; max-width: none;}
.form_text.field-4 .text:nth-child(3) {left: 25%;}
.form_text.field-4 .text:nth-child(4) {left: 50%;}
.form_text.field-4 .text:nth-child(5) {left: 75%;}
.form_text.field-4 .bar {z-index: 2; display: none; position: absolute; top: 21px; width: 7px; height: 40px; line-height: 40px;}
.form_text.field-4.on .bar {display: block;}
.form_text.field-4 .bar-1 {left: 19%;}
.form_text.field-4 .bar-2 {left: 44%;}
.form_text.field-4 .bar-3 {left: 69%;}
@media only screen and (max-width: 320px) {
    .form_text.field-4 .bar-1 {left: 19.5%;}
    .form_text.field-4 .bar-2 {left: 45.5%;}
    .form_text.field-4 .bar-3 {left: 70%;}
}

/* 숫자 or 패스워드로 받을 때 */
.pass-input-match {position:relative; opacity:0;}
.pass-input-match .text {position:absolute; top: 0; left:0; width:100%; z-index:-1; opacity:0;}
.pass-input-match .text {-webkit-transform: translateZ(0); -webkit-backface-visibility:hidden;} /* safari bug fix */
.form_text.on .pass-input-match,
.form_text.error .pass-input-match {opacity:1; line-height: 40px;}
.form_text.on .pass-input-match .text,
.form_text.error .pass-input-match .text  {opacity:0; z-index:-1}

.card-pass .pass-input-match {padding-top:16px;} /* 화면 가운데 비밀번호 */
.card-pass .pass-input-match .text, /* dot fill*/
.pass-input-match.password .text {top: 0;} /* 숫자 fill */ 
 
/* cvc */
.form_text.on .pass-input-match .text.cvc {top:21px; opacity:1; z-index:1; font-size:18px; color:#222; line-height:40px; }
.pass-input-match .text.cvc::placeholder {font-size:16px; color:#888 !important}
.pass-input-match .text.cvc:-ms-input-placeholder {font-size:16px; color:#888 !important}
.pass-input-match .text.cvc::-webkit-input-placeholder {font-size:16px; color:#888 !important}

@media only screen and (max-width: 320px) {
    .pass-input .dot + .dot {margin-left:-3px;}
}

.error-txt {display:block; padding-top:24px; width:100%; font-size:12px; color:#ff0000; line-height: 16px; letter-spacing: -0.2px;}
.error-txt:before {content:""; width: 16px; height: 16px; background: url(../images/icon/ico_error.png) no-repeat; background-size: contain;}
.error-txt.type02 {position: relative; padding-top:8px; padding-left:23px;}
.form_text + .error-txt {display:none; position: relative; padding-top:8px; padding-left:20px;}
.form_text + .error-txt:before, 
.error-txt.type02:before {position: absolute; top: 8px; left: 0;}

.error-txt.certi {text-align:center; padding-top:16px;}
.error-txt.certi:before {display:none}
.time + .error-txt.certi {padding-top:6px;}

.form_text.error {border-color:#ff0000;}
.form_text.error + .error-txt {display:block;}
.form_text.error label {top:1px; font-size:14px; line-height:17px; z-index:1}
.form_text.error .text {opacity:1; z-index:2}
.form_text.match.error .pass-input-match {opacity:1}

.form_text.ph:after {content:""; display:block; position:absolute; top:0; right:0; width:48px; height:64px; background:url(../images/icon/ico_form_select.png) center center no-repeat; background-size:16px 16px; /*z-index:3*/}
.ph-cell {float:left;width:40%}
.ph-cell + .ph-cell {width:60%; padding-left:8px;}

/* 주소입력 */
.form_text.line2 {height:88px;}
.form_text.line2 .text {width:75%; height:48px; top:35px; font-size: 16px; font-weight: 500; line-height: normal; letter-spacing: -0.4px; color: #222; resize:none;}
.form_text.line2 label {top:10px;}
.form_text.line2 .btn-delete {top:15px; background:url(../images/icon/ico_input_delete02.png) center center no-repeat; background-size:24px 24px;}

/* 인증번호 유효시간/완료 표시 */
.form_text .time {display:none; position:absolute; top:0; right:16px; font-size:14px; line-height: 64px; color:#fb5252;}
.form_text.on .time, .form_text.error .time {display:block;}
.form_text .certi_ok {position:absolute; top:0; right:0; font-size:14px; line-height: 64px; color:#fb5252;}
.form_text .text.gray {color:#888}

/* 충전할포인트 */
.form_text.unit .pt {display: none; position: absolute; left: 20px; top: 5px; color: #222; font-size: 30px; font-weight: 500; z-index: 2;}
.form_text.unit.on .pt {display: inline-block;}

.or {position:relative; width:100%; font-size: 14px; line-height: 1.43; letter-spacing: -0.2px; text-align:center; color: #666;}
.or > span {position:relative; display: inline-block; padding:0 23px; text-align:center; background: #fff;}
.or:before {content:""; display:block; position:absolute; top:50%; left:0; width:100%; border-top:1px dashed #aaa}

/* Radio 폼 */
.form-rdo {height: 64px; border-bottom: 1px solid #ddd;}
.form-rdo .lb {color: #888; font-size: 14px; line-height: 17px; letter-spacing: -0.4px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.form-rdo .rdo-group {margin-top: 6px;}

/* 클릭형 Form */
.clickable::after {content: ""; display: block; position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 24px; height: 24px; background: url(../images/icon/ico_arrow_right24x24.png) no-repeat;}
.clickable .btn-delete {display: none;}


/* 카드인증 */
.card-box.certi {margin:25px 0 32px; cursor:none; }
.card-box.certi .btn-list {display:table-cell; width:24px; height:60px; text-indent:-9999em; vertical-align:middle; background:url(../images/icon/ico_btn_card-box_link.png) right center no-repeat; background-size:24px 24px;}


/* 카드인증정보 입력 */
.form_text.match.card .dash {padding:0 5px; line-height:25px;}
.form_text.match.card .pass-input input {width:10px; height:19px;}
.form_text.match.card .pass-input input::placeholder {font-size:20px;}
.form_text.match.card .pass-input input:-ms-input-placeholder {font-size:20px;}
.form_text.match.card .pass-input input::-webkit-input-placeholder {font-size:20px;}
.cvc-img {position:relative; display:block; margin:16px auto 0; width:192px;}
.cvc-img img {position:relative; width:100%; z-index:2}

@media only screen and (max-width: 320px) {
.form_text.match.card .dash {line-height:28px}
.form_text.match.card .pass-input input {width:8px;}
.form_text.match.card .pass-input input::placeholder {font-size:16px;}
.form_text.match.card .pass-input input:-ms-input-placeholder {font-size:16px;}
.form_text.match.card .pass-input input::-webkit-input-placeholder {font-size:16px;}
}


/* 카드사용등록 */
.cash-return {padding:24px 0 0; text-align:center;}
.cash-return .f-chk.checked:before {background: url(../images/icon/ico_chk_on.png) no-repeat; background-size: contain;}
.cash-return + .resend-tip {padding-top:24px; text-align: center;}


/* Error page */
.error-page {height: 100%; background: #fff;}
.error-page p {position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 100%; padding: 0 16px; text-align: center;}
.error-page p i {display: block; width: 48px; height: 48px; margin: 0 auto 7px; background: url(../images/icon/ico_nodata.png) no-repeat; background-size: contain;}
.error-page .btn-group {position: absolute; left: 0; bottom: 0; width: 100%; padding: 16px;}


/* Loading bar */
.loading-dim {position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 10000;}
.loading-bar {z-index: 10001; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 64px; height: 64px; background: url(../images/etc/loading_bar.gif) no-repeat;}


/* Bottom group division */
.b-group-div {position: relative;}
.b-group-div .tool-tip {position: absolute; left: 16px; top: 0; width: calc(100% - 32px);}
.b-group-div .tool-tip > p {text-align: left;}
.b-group-div .resend-tip > button, 
.b-group-div .resend-tip > a {position: relative;}
