@charset "utf-8";

html, body {height: 100%;}
.wrap {position: relative; height: 100%;}

.header {position: relative; width: 100%; padding: 12px 58px 12px 16px;}
.header h1 {height: 32px; color: #222; font-size: 20px; font-weight: 700; line-height: 32px; letter-spacing: -0.4px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.header .close {position: absolute; right: 0; top: 0; width: 56px; height: 56px; font-size: 0; text-indent: -9999px; background: url(../images/icon/ico_header_close.png) no-repeat center; background-size: 24px;}
.header.back h1 {padding: 0 38px;}
.header .go-back {position: absolute; left: 0; top: 0; width: 56px; height: 56px; font-size: 0; text-indent: -9999px; background: url(../images/icon/ico_goback.png) no-repeat center; background-size: 24px;}

.container {overflow-y: auto; overflow-x: hidden; height: calc(100% - 56px); background: #fff;}

.contents {padding: 0 16px 16px 16px;}
.contents > [class*="tit"] {padding: 24px 0 32px 0;} /* contents 바로 하단에 오는 title 위아래 여백 공통 */
.contents.scroll {overflow-y: auto; overflow-x: hidden;}

.bottom-btn-area.float {position: absolute; left: 0; bottom: 0; width: 100%;}
.bottom-btn-area.fixed {position: fixed; left: 0; bottom: 0; width: 100%;}
.bottom-btn-area .resend-tip {padding: 16px 16px 0 16px;}

.bottom-fixed-contents {position: fixed; bottom: 113px; left: 0; padding:0 16px; width: 100%; overflow: hidden;}
.bottom-fixed-contents .list-dot {padding: 24px 0 8px 0; border-top: 1px solid #eee;}

.lo-content {display: table; width: 100%;}
.lo-content > * {display: table-cell;}
.lo-content.half > * {width: 50%;}


/* Layer popup */
.l-bottom {display: none; position: fixed; left: 0; top: 50%; transform: translateY(-50%); width: 100%; padding: 16px; z-index: 10;}
.l-bottom-wrap {background: #fff;}
.l-bottom-wrap .head {position: relative; padding: 12px 0;}
.l-bottom-wrap .head h1 {padding: 0 56px 0 16px; color: #222; font-size: 20px; font-weight: 700; line-height: 24px; letter-spacing: -0.4px;}
.l-bottom-wrap .head .close {position: absolute; right: 0; top: -2px; width: 56px; height: 56px; font-size: 0; text-indent: -9999px; background: url(../images/icon/ico_layer_close.png) no-repeat center; background-size: 24px;}
.l-bottom-wrap .l-contents {padding: 0 16px;}
.l-bottom-wrap .l-contents.scroll {overflow-y: auto; overflow-x: hidden;}
.l-bottom-wrap .bottom {position: absolute; left: 0; bottom: 0; width: 100%;}


.l-pop {z-index: 10; display: none; position: absolute; left: 0; top: 50%; width: 100%; padding: 0 16px; transform: translateY(-50%);}
.l-pop .pop-wrap {border-radius: 16px; background: #fff;}
.l-pop .head {background: #f5f5f5;}
.l-pop .txt {display: table; width: 100%; padding: 0 16px;}
.l-pop .txt span {display: table-cell; padding: 32px 0; color: #222; font-size: 16px; font-weight: 400; text-align: center; line-height: 24px;}

.l-dim {display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: .4; z-index: 10;}


