@charset "utf-8";

body {min-width: 1380px;}

.wrap {height: 100%; background: #f8f8f8;}
/* .wrap-inner {width: 1380px; height: 100%; display: flex; } */
.wrap-inner {width: 100%; height: 100%; display: flex; }

.left-side {width: 250px; height: 100%; flex-shrink: 0; background: #2f2f2f;}

.left-side .top {height: 269px; padding: 50px 10px 0 19px; flex-shrink: 0; border-bottom: 1px solid #efefef;}
.left-side .top h1 {display: inline-block;}
.left-side .top h1 img {display: block; width: 180px; height: 30px;}
.left-side .top .private-info {margin-top: 14px;}
.left-side .top .private-info strong {display: block; margin-bottom: 20px; color: #fff; font-size: 19px; font-weight: 700; letter-spacing: -0.4px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.left-side .top .private-info dl {display: table; padding-bottom: 4px;}
.left-side .top .private-info dl:last-child {padding-bottom: 0;}
.left-side .top .private-info dl > * {display: table-cell; height: 20px; color: #999; font-size: 13px; line-height: 20px; letter-spacing: -0.5px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.left-side .top .private-info dl dt {width: 57px; font-weight: 700;}
.left-side .top .btn-area {margin-top: 21px;}

.navigation {height: calc(100% - 270px); overflow-y: auto; overflow-x: hidden;}
.navi-wrap > ul > li > a {display: block; position: relative; height: 60px; padding: 0 45px 0 20px; color: #fff; font-size: 15px; font-weight: 400; line-height: 60px; letter-spacing: -1.5px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.navi-wrap > ul > li > a::after {content: ""; display: block; position: absolute; right: 20px; top: 50%; transform: translateY(-50%); width: 15px; height: 15px; background: url(../images/ico_plus.png) no-repeat center; background-size: contain;}
/* .navi-wrap > ul > li > a.on {background: rgba(255, 204, 0, 0.03);} */
.navi-wrap > ul > li > a.on {color: #222; font-weight: 700; background: #ffcc00;}
/* .navi-wrap > ul > li > a.on::before {content: ""; display: block; position: absolute; left: 0; top: 0; width: 5px; height: 60px; background: #ffcc00;} */
.navi-wrap > ul > li > a.on::after {background: url(../images/ico_minus.png) no-repeat center; background-size: contain;}
.navi-wrap > ul > li > ul {display: none;}
.navi-wrap > ul > li > ul > li > a {display: block; position: relative; height: 50px; padding: 0 35px 0 20px; border-bottom: 1px solid #eee; color: #ccc; font-size: 14px; line-height: 50px; letter-spacing: -0.2px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}

.navi-wrap > ul > li > ul > li > a.on,
.navi-wrap > ul > li > ul > li > a:hover {color: #fff; font-weight: 700;}
.navi-wrap > ul > li > ul > li > a.on::after,
.navi-wrap > ul > li > ul > li > a:hover::after {content: ""; display: block; position: absolute; right: 20px; top: 50%; transform: translateY(-50%); width: 15px; height: 15px; background: url(../images/ico_arrow_right4x8.png) no-repeat; background-size: contain;}

.container {flex-grow: 1; overflow-y: auto; overflow-x: hidden;}
.contents-wrap {min-width: 1130px;}
.contents {position: relative; padding: 50px 20px 0 20px;}

.contents-top {display: table; width: 100%;}
.contents-top > * {display: table-cell; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.contents-top .left-col {width: 70%;}
.contents-top .right-col {width: 30%; text-align: right; font-size: 0;}
.contents-top .right-col > span {display: inline-block; height: 20px; color: #666; font-size: 14px; line-height: 20px; vertical-align: top;}
.contents-top .right-col > span::after {content: ">"; display: inline-block; margin: 0 3px 0 4px; color: #666; font-size: 9px; vertical-align: 2px;}
.contents-top .right-col > span:last-child::after {content: none;}

.footer {padding: 60px 0 30px 0;}
.footer p {color: #888; font-family: AppleGothic, Malgun Gothic, sans-serif; font-size: 14px; text-align: center;}


/* Login : 이용기관포탈 로그인 */
.login {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 480px; border: 1px solid #ddd; background: #fff;}
.login .head {padding-top: 50px; text-align: center;}
.login .head h1 {display: inline-block;}
.login .head h1 img {display: block;}
.login .head p {margin-top: 10px; color: #222; font-size: 20px; font-weight: 700; line-height: 32px; letter-spacing: -0.4px;}
.login .input-box {position: relative; margin-top: 30px;}
.login .input-box dl {display: table; width: 348px; margin-bottom: 10px;}
.login .input-box dl dt {display: table-cell; width: 87px; padding: 0 10px 0 30px; color: #222; font-size: 18px; font-weight: 700;}
.login .input-box dl dd {display: table-cell; width: auto;}
.login .input-box .btn-type {position: absolute; right: 32px; top: 0; width: 90px; height: 90px; background: #ffcc00;}
.login .input-box .f-chk {padding-left: 87px; color: #666; font-size: 14px; font-weight: 400; line-height: 20px; letter-spacing: -0.2px;}
.login .bottom {margin-top: 30px; padding-bottom: 30px; font-size: 0; text-align: center;}
.login .bottom a {display: inline-block; color: #666; font-size: 16px; font-weight: 400; line-height: 24px; letter-spacing: -0.4px;}
.login .bottom a::after {content: ""; display: inline-block; width: 1px; height: 15px; margin: 0 10px; background: #979797; vertical-align: middle;}
.login .bottom a:last-child::after {content: none;}

.login .certificate {margin-top: 30px; padding: 0 30px 30px;}
.login .certificate button {width: 100%; height: 75px; color: #222; font-size: 18px; font-weight: 700; line-height: 26px; letter-spacing: -0.4px; background: #ffcc00;}

.login .bottom-outside {position: absolute; left: 0; bottom: -105px; width: 480px;}
.login .bottom-outside button {width: 230px; flex-shrink: 0; margin-right: 10px;}
.login .bottom-outside button:last-child {margin-right: 0;}
.login .bottom-outside .bot-link {display: block; height: 24px; margin-top: 20px; line-height: 24px; text-align: right;}
.login .bottom-outside .bot-link a {color: #666; font-size: 16px; font-weight: 400; line-height: 24px; letter-spacing: -0.4px; text-decoration: underline;}

/* MOTP */
.motp {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 480px; height: 170px; padding: 20px; border: 1px solid #ddd; background: #fff;}
.motp h1 {color: #222; font-size: 20px; font-weight: 700; line-height: 32px; letter-spacing: -0.5px;}
.motp .close {position: absolute; right: 20px; top: 30px; width: 19px; height: 19px; font-size: 0; text-indent: -9999px; background: url(../images/ico_popup_close.png) no-repeat;}
.motp .frm {margin-top: 12px;}
.motp .error-txt {margin-top: 10px; color: #ff0000; font-size: 14px; font-weight: 400; line-height: 20px; letter-spacing: -0.2px;}



/* Layer popup */
.l-dim {display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: .4; z-index: 10;}

.l-pop {position: fixed; left: 50%; top: 50%; width: 960px; transform: translate(-50.1%, -50.1%); z-index: 10;}
.l-pop-wrap {padding: 25px 20px 30px 20px; background: #fff;}

.l-header {position: relative;}
.l-header h1 {height: 32px; color: #222; font-size: 20px; font-weight: 700; line-height: 32px; letter-spacing: -0.4px;}
.l-header .close {position: absolute; right: 0; top: 5px; width: 19px; height: 19px; font-size: 0; text-indent: -9999px; background: url(../images/ico_popup_close.png) no-repeat;}

.l-container {overflow-y: auto; overflow-x: hidden;}

.l-footer .btn-group {margin-top: 30px; text-align: center;}



/* Popup */
body.popup {min-width: auto;}

.pop-header {height: 100px; padding: 0 30px; background: #f8f8f8;}
.pop-header h1 {display: inline-block; color: #222; font-size: 30px; font-weight: 700; line-height: 100px; letter-spacing: -0.6px;}

.pop-container {padding: 30px;}

.pop-footer .btn-group {text-align: center;}



/* Layout */
.lo-content {display: table; width: 100%;}
.lo-content > div {display: table-cell;}
.lo-content.half > div {width: 50%;}
.lo-content.half > div + div {width: auto;}